<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zajavka car dealer!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h1>Zajavka Car Dealer!</h1>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
        </div>
    </div>

    <h2>Want to buy a car?</h2>
    <p>The best place to buy a car is Zajavka Car!</p>
    <p>Please take a look at available cars!</p>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>vin</th>
                <th>brand</th>
                <th>model</th>
                <th>year</th>
                <th>color</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car: ${availableCarDTOs}">
                <td th:text="${car.vin}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.color}"></td>
                <td th:text="${car.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <br>
</div>

<div class="container">
    <h2>Are you new or existing customer?</h2>
    <form action="#" th:action="@{/purchase}" method="POST" th:object="${carPurchaseDTO}">
        <div class="row mt-3">
            <div class="col-md-6">
                <h3> If you are existing customer - please give us your email and chose the car!</h3>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="existingCustomerEmail">Your email:</label>
                    </div>
                    <input type="text" id="existingCustomerEmail" th:field="*{existingCustomerEmail}">
                </div>
            </div>

            <div class="col-md-6">
                <h3> If you are new customer - please fill out every input in the form!</h3>
                <br>
                <p>Please enter customer data:</p>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerName">Customer name:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerName" th:field="*{customerName}">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerSurname">Customer surname:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerSurname" th:field="*{customerSurname}">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerEmail">Customer email:</label>
                    </div>
                    <input type="text" id="customerEmail" th:field="*{customerEmail}">
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerPhone">Phone number:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerPhone" th:field="*{customerPhone}">
                    </div>
                </div>
                <br>
                <p>Please provide customer address:</p>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressCountry">Country:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressCountry" th:field="*{customerAddressCountry}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressCity">City:</label>
                    </div>
                    <div class="col-md-3">

                        <input type="text" id="customerAddressCity" th:field="*{customerAddressCity}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressPostalCode">Postal code:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressPostalCode" th:field="*{customerAddressPostalCode}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressStreet">Street:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressStreet" th:field="*{customerAddressStreet}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="carVin">Car VIN:</label>
                <select id="carVin" th:field="*{carVin}">
                    <option th:each="availableCarVin : ${availableCarVins}" th:value="${availableCarVin}" th:text="${availableCarVin}"></option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="salesmanPesel">Salesman:</label>
                <select id="salesmanPesel" th:field="*{salesmanPesel}">
                    <option th:each="availableSalesmanPesel : ${availableSalesmanPesels}" th:value="${availableSalesmanPesel}" th:text="${availableSalesmanPesel}"></option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <input type="submit" value="Purchase!" class="btn btn-success">
            </div>
        </div>


    </form>
</div>
<br>
<br>
</body>

</html>